SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://tracksieve.emlw.dev/api/auth/callback
FLASK_SECRET_KEY=change-me
AUTH_SUCCESS_REDIRECT=https://tracksieve.emlw.dev
FRONTEND_ORIGIN=https://tracksieve.emlw.dev
SESSION_COOKIE_SECURE=true
FRONTEND_PORT=8094
SPOTIFY_TIMEOUT=12
